.list {
  width: 370px;
  height: 500px;
  margin: 0 0 0 5px;
  padding: 0;
  overflow: auto;
  vertical-align: top;
  border: 1px solid grey;
  background-color: lightgray;
}

.list li {
  position: relative;
  height: 67px;
  border: 1px solid grey;
  border-bottom: 0;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
  background-color: lightgray;
}

.list li:last-child {
  border-bottom: 1px solid grey;
}

.list li span {
  margin: 4px 0 2px;
  font-size: 14px;
}

.list img {
  width: 50px;
  height: 50px;
  padding: 8px 10px 10px;
  float: left;
}

h2 {
  margin: 5px 0 5px;
}

span {
  display: block;
}

section {
  vertical-align: top;
  display: inline-block;
  margin-right: 25px;
}

.list li button {
  position: absolute;
  width: 10px;
  height: 15px;
  left: 327px;
  top: 10px;
}

@media only screen and (max-width : 992px) {
  .list {
    width: 320px;
    overflow: auto;
  }

  .list li {
    height: 62px;
  }

  .list img {
    padding: 6px 6px 6px;
  }

  .list li span {
    font-size: 12px;
  }

  .list li button {
    display: none;
  }
}

@media only screen and (max-width : 768px) {
  .list {
    width: 300px;
  }

  .list li {
    height: 56px;
  }

  .list img {
    width: 40px;
    height: 40px;
    padding: 6px 8px  8px;
  }

  .list li span {
    font-size: 12px;
  }

  .list li button {
    display: none;
  }
}

@media only screen and (max-width : 480px) {
  .list {
    width: 400px;
    height: 200px;
    margin: 0 0 0 8px;
    overflow: auto;
  }
}
