.mainblock {
  width: 465px;
  background-color: aliceblue;
  margin: 0 0 0 25px;
}

.mainblock div {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.mainblock div h2:first-child {
  margin-top: 0;
}

h2 {
  margin: 5px 0 5px;
}

span {
  display: block;
}

section {
  vertical-align: top;
  display: inline-block;
  margin-right: 25px;
}
