.mainblock {
  width: 465px;
  background-color: aliceblue;
  margin: 0 0 0 25px;
}

.mainblock div {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.mainblock div h2:first-child {
  margin-top: 0;
}

h2 {
  margin: 5px 0 5px;
}

span {
  display: block;
}

section {
  vertical-align: top;
  display: inline-block;
  margin-right: 25px;
}

.nodisp {
  position: absolute;
  left: 600px;
  top: 100px;
  font-size: 25px;
}

@media only screen and (max-width : 992px) {
  .mainblock {
    width: 460px;
    margin-left: 10px;
  }

  .nodisp {
    position: absolute;
    left: 430px;
    top: 100px;
    font-size: 25px;
  }

  section {
    margin-right: 10px;
  }
}

@media only screen and (max-width : 768px) {
  .mainblock {
    width: 340px;
    margin-left: 6px;
  }

  section {
    margin-right: 5px;
  }

  .nodisp {
    position: absolute;
    left: 360px;
    top: 100px;
    font-size: 25px;
  }
}

@media only screen and (max-width : 480px) {
  .mainblock {
    width: 400px;
    margin: 10px 0 9px 9px;
  }

  div img {
    width: 100px;
    height: 100px;
  }

  div h2 {
    font-size: 23px;
  }

  div span {
    font-size: 13px;
  }

  .nodisp {
    position: static;
    margin: 10px;
    font-size: 20px;
  }
}
