input {
  width: 238px;
  height: 30px;
  margin: 5px 0 5px 5px;
  padding: 5px;
  border: 2px solid orange;
}

@media only screen and (max-width : 480px) {
  input {
    margin: 5px 0 5px 8px;
  }
}
